## Ignore Visual Studio temporary files

# User-specific files
*.suo
*.user
*.sln.docstates
*.tlog
*.log
*.idb
*.pdb
*.vc120.*
*.sdf
*.opensdf

# obj files not in data.
/GEL_WIN/*/*/*.obj


# .lib
GEL_WIN/Debug/*
GEL_WIN/Release/*
!GEL_WIN/Debug/clapackDB.lib
!GEL_WIN/Release/clapack.lib