## Ignore Visual Studio temporary files

# User-specific files
GEL_WIN/*.suo
GEL_WIN/*.user
GEL_WIN/*.sln.docstates

GEL_WIN/*.obj
GEL_WIN/*.tlog
GEL_WIN/*.exe

# .lib
GEL_WIN/Debug/*.lib
GEL_WIN/Release/*.lib
!GEL_WIN/Debug/clapackDB.lib
!GEL_WIN/Release/clapack.lib

